<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    
    <h1>Registar usuário</h1>

    <form action="verificaRegistro.php" method="POST">

    <label for="usuario">Usuário</label>
    <input type="text" name="usuario" id="usuario" placeholder="Usuario:"> <br>
    <br>
    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" placeholder="Senha:"> <br>
    <br>
    <button type="submit">Registar-se</button> <br>
    <p>{{erro}}</p>
    </form>

    <a href="login.php">Voltar para a página de login</a>

</body>
</html>